.landing-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.topBar {
    margin: 5px;
}

.app-container {
    margin: 5px;
}

.app-footer {
    margin-top: auto;
    margin: 5px;
}

.contact-us {
    width: 80% !important;
    margin: auto;
}

.p-card-body, .p-card-content, .p-dataview-grid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.p-dataview-header, .p-paginator-bottom {
    border-radius: var(--border-radius);
}

.p-dataview-content {
    background: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}